main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
    position: relative;
}

.signUp {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 4em;
    box-shadow: 0 0 4px rgb(147, 146, 146);
    border-radius: 6px;
    
}

.signUp > h1 {
    margin-bottom: 1em;
}

.signUp > .feilds {
    width: 100%;
    
}

.feilds input {
    width: 100%;
    padding: 0.5em 1.1em;
    margin: 1.4em 0;
    font-size: 0.9em;

}

.feilds .btnForm {
    padding: 0.7em 1.3em;
    background-color: rgb(240, 181, 168);
    font-size: 1em;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    
}

main > img {
    width: 370px;
    position: absolute;
    right: 20%;
    rotate: -15deg;
    border-radius: 6px;
}